################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/T-Systems/FileContentIndex/41719203-55e5-4d7d-bf1a-9fe4fc9ebb5d.vsidx
